* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.hero {
    width: 100%;
    min-height: 100vh;
    background-image: url(./img/back-image.png);
    background-size: cover;
    background-position: center;
    padding: 10px 10%;
    position: relative;
    overflow: hidden;
}